<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dto">
	<select id="selectList" resultType="ProductDTO">
		select * from myproduct order by prodid
	</select>
	<delete id="deleteProduct" parameterType="string">
		delete from myproduct where prodid = #{prodid}
	</delete>
	<delete id="deleteByAllProduct" parameterType="arraylist">
	delete from myproduct
	<where>
		<foreach collection="list" item="xx" index="index">
			or prodid = #{xx}
		</foreach>
	</where>
	</delete>
	
	<update id="updateProduct" parameterType="string">
	</update>
</mapper>










