<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper">
	<select resultType="TB_Stu" id="selectSsnHide">
		select student_no, department_no, student_name, student_ssn 
		, student_address, to_char(entrance_date,'yyyy/mm/dd') edate
		, absence_yn, coach_professor_no from tb_student order by student_no desc
	</select>
</mapper>
