<h1>{{title}}</h1>
<!-- nav태그를 이용한 네비 링크 -->
<nav>
  <ul>    
    <li><a routerLink="">""</a></li>
    <li><a routerLink="/home">/hmoe</a></li>
    <!-- 수정함 -->
    <li><a routerLink="/first-component/seoul/1000">/first-component/seoul/1000</a></li>
    <li><a routerLink="/first-component/pusan/5000">/first-component/pusan/5000</a></li>
    <!--수정함-->
    <!-- ////////////////////////////// -->
    <li><a [routerLink]="['/second-component',{userid:'master', passwd:'1234'}]" >Second Component</a></li>
  </ul>
</nav>
<!-- 라우팅 내용이 보여질 곳 -->
<router-outlet></router-outlet>